<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tacoma.uw.css.sextod.memeups">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/memeupstopicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/memeupstopicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".MatchActivity2" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".CollectionActivity" />
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MatchActivity"
            android:label="@string/title_activity_course"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>